<p>
  To see when you may take the Covid-19 vaccine, please answer a few questions.
</p>
<mat-card class="container">
  <mat-card-content>
    <form [formGroup]="form">
      <mat-horizontal-stepper
        [linear]="true"
        #stepper
        (selectionChange)="onSelectionChange($event)"
      >
        <mat-step>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div>Which province do you live in?</div>
            <mat-form-field style="width: 200px">
              <select
                matNativeControl
                [formControl]="form.controls.homeCare"
                required
              >
                <option>Select a Province</option>
                <option value="AB">Alberta</option>
                <option value="BC">British Columbia</option>
                <option value="MB">Manitoba</option>
                <option value="NB">New Brunswick</option>
                <option value="NL">Newfoundland and Labrador</option>
                <option value="NS">Nova Scotia</option>
                <option value="ON">Ontario</option>
                <option value="PE">Prince Edward Island</option>
                <option value="QC">Quebec</option>
                <option value="SK">Saskatchewan</option>
                <option value="NT">Northwest Territories</option>
                <option value="NU">Nunavut</option>
                <option value="YT">Yukon</option>
              </select>
            </mat-form-field>
          </div>
          <ng-container
            *ngTemplateOutlet="navigation; context: { step: 'first' }"
          ></ng-container>
        </mat-step>
        <mat-step>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div>What is your age?</div>
            <mat-form-field class="age-field">
              <input
                #input
                matNativeControl
                required
                type="number"
                maxlength="3"
                autocomplete="off"
                [formControl]="form.controls.age"
                (input)="input.value = input.value.slice(0, input.maxLength)"
              />
            </mat-form-field>
          </div>
          <ng-container *ngTemplateOutlet="navigation"></ng-container>
        </mat-step>
        <mat-step>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div>Are you a Senior Home resident or staff?</div>
            <app-boolean-toggle></app-boolean-toggle>
          </div>
          <ng-template [ngTemplateOutlet]="navigation"></ng-template>
        </mat-step>
        <!-- <mat-step [stepControl]="form.controls.pregnant">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <span class="img-pregnant illustration"> </span>
            <div>Are you a pregnant woman?</div>
            <app-boolean-toggle></app-boolean-toggle>
          </div>
          <ng-container *ngTemplateOutlet="navigation"></ng-container>
        </mat-step> -->
        <mat-step [stepControl]="form.controls.healthcare" state="chat">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <!-- <span class="img-health illustration"> </span> -->
            <img src="/assets/images/health.png" />
            <div>Are you a health care worker?</div>
            <app-boolean-toggle></app-boolean-toggle>
          </div>
          <ng-template [ngTemplateOutlet]="navigation"></ng-template>
        </mat-step>
        <mat-step [stepControl]="form.controls.indigenous">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div>Are you an adult in Indigenous communities?</div>
            <app-boolean-toggle></app-boolean-toggle>
          </div>
          <ng-container *ngTemplateOutlet="navigation"></ng-container>
        </mat-step>
        <mat-step [stepControl]="form.controls.indigenous">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div>
              Are you a resident or staff of a shared living setting, such as
              homeless shelters, correctional facilities and housing for migrant
              worker?
            </div>
            <app-boolean-toggle></app-boolean-toggle>
          </div>
          <ng-container *ngTemplateOutlet="navigation"></ng-container>
        </mat-step>
        <mat-step [stepControl]="form.controls.indigenous">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div>
              Are you an essential worker who faces additional risks to perform
              services for the functionality of society?
            </div>
            <app-boolean-toggle></app-boolean-toggle>
          </div>
          <ng-container *ngTemplateOutlet="navigation"></ng-container>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>
            According to the guidelines in your province, you are in Stage 2 of
            the vaccine rollout. You should expect to get immunized between July
            and September 2021. Click <a routerLink="/subscribe">here</a> to
            subscribe to the latest Vaccine alerts.
          </p>
          <ng-container
            *ngTemplateOutlet="navigation; context: { step: 'last' }"
          ></ng-container>
        </mat-step>

        <ng-template matStepperIcon="phone">
          <mat-icon>call_end</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="chat">
          <mat-icon>forum</mat-icon>
        </ng-template>

        <ng-template #navigation let-step="step">
          <div style="margin-top: 10px">
            <mat-divider inset="true"></mat-divider>
            <div class="button-row" style="margin-top: 10px">
              <button
                *ngIf="step !== 'first'"
                mat-stroked-button
                type="button"
                matStepperPrevious
              >
                <mat-icon>navigate_before</mat-icon>Back
              </button>
              <button
                *ngIf="step !== 'last'"
                mat-stroked-button
                type="button"
                matStepperNext
              >
                Next
                <mat-icon>navigate_next</mat-icon>
              </button>
              <button
                *ngIf="step === 'last'"
                mat-stroked-button
                type="button"
                (click)="stepper.reset()"
              >
                <mat-icon>refresh</mat-icon>Start Over
              </button>
            </div>
          </div>
        </ng-template>
      </mat-horizontal-stepper>
    </form>
  </mat-card-content>
</mat-card>
<mat-card class="container" *ngIf="result">
  <mat-card-content> </mat-card-content>
</mat-card>
