.container {
  padding: 10px;
  max-width: 100%;
}

svg.map {
  fill: #a1d99b;
  cursor: pointer;
  max-width: 600px;
}

.map {
  padding: 10px, 0;
}

.map-location:hover {
  fill: rgb(201, 224, 240);
}

:host ::ng-deep svg {
  stroke: #666;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.popover {
  z-index: 9001;
  background-color: #ccc;
}
