.outer {
  background: white;
}

.go-to-container {
  font-size: 12px;
}

.page-number-field {
  width: 56px;
}

.page-select {
  text-align: center;
  text-align-last: center;
}

:host ::ng-deep .mat-form-field-wrapper {
  margin-bottom: 0 !important;
}
