.sidenav-container {
  min-height: 100vh;
}

.nav-list {
  min-height: 100vh;
}

:host ::ng-deep .mat-drawer-inner-container {
  overflow: hidden;
}

.sidenav {
  width: 200px;
}

.sidenav-content {
  overflow-y: hidden;
}

.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  z-index: 9999;
}

.toolbar-indent {
  left: 200px;
}

.content {
  position: relative;
  padding: 20px;
}
