<p>Subscribe to Covid-19 Alerts</p>
<button (click)="this.subscribeBrowserNotifications()">
  Subscribe to browser notifications!
</button>
<!-- <p>Device token: {{ displayToken }}</p> -->

<form [formGroup]="emailForm" (ngSubmit)="subscribeEmailUpdates()">
  <div class="column">
    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left">
        <input
          type="email"
          class="input"
          placeholder="Email"
          formControlName="email"
          required
        />
        <!-- TODO: Add icon envelope -->
        <!-- <span class="icon is-small is-left">
          <i class="icon-envelope"></i>
        </span> -->
      </div>
      <ng-template
        [ngIf]="this.emailFormSubmitted && this.emailForm.controls.email.errors"
      >
        <p
          class="help is-danger"
          *ngIf="this.emailForm.controls.email.errors.required"
        >
          Email is required.
        </p>
        <p
          class="help is-danger"
          *ngIf="this.emailForm.controls.email.errors.email"
        >
          Email is invalid!
        </p>
      </ng-template>
    </div>
  </div>

  <button type="submit">Get the latest updates via email!</button>
</form>

<form [formGroup]="smsForm" (ngSubmit)="this.subscribeSMSUpdates()">
  <div class="column">
    <div class="field">
      <label class="label">Phone Number</label>
      <input
        type="tel"
        class="input"
        placeholder=""
        formControlName="phoneNumber"
        required
      />
      <ng-template
        [ngIf]="this.smsFormSubmitted && this.smsForm.controls.email.errors"
      >
        <p class="help is-danger">Invalid input.</p>
      </ng-template>
    </div>
  </div>

  <button type="submit">Subscribe to SMS (powered by Vonage)</button>
</form>
